<% include partials/app-header %>

<div class="ui container">
  <div class="ui segment load">
    <div class="ui active inverted dimmer">
      <div class="ui text loader">Please wait, while we generate your content</div>
    </div>
    <p></p>
  </div>
</div>
  
<% include partials/footer %>