html
  include partials/header.pug
  body
    div(class='welcome') 
      h1='Welcome to IPS'

      div(class="login_form")
        
        form(action="/users/user_login", method="post")
          input(id="username" type="text" name="username" placeholder="username")
          input(id="password" type="text" name="password" placeholder="password")
          input(id="submit" type="submit" name="submit" value="login")
        
        div(class="register")
          button(class="btn btn-register" id="register")='Register'

  //- insert script
  script(src="/js/login.js")
