<% include partials/header %>

  <div class="welcome">
    <h1 class="head-reg">IPS Registration</h1>
    <div class="reg_form">
      <form action="" method="post">
        <input type="text" name="firstName" id="firstName" autocomplete="off" placeholder="First Name" autofocus>
        <input type="text" name="lastName" id="lastName" autocomplete="off" placeholder="Last Name">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="email" name="email" id="email" placeholder="example@email.com">
        <input type="password" name="password" id="password" placeholder="Enter password">
        <input type="text" name="nin" id="nin" placeholder="National Indentification Number">

        <button type="submit">Register</button>
      </form>

      <div class="register">
        <button>login</button>
      </div>
    </div>
  </div>

<script src="/js/reg.js"></script>