html
  include partials/header.pug

  body
    div(class='welcome') 
      h1(class="head-reg")='IPS Registration'

      div(class="reg_form")
        
        form(action="/users/add_new", method="post")
          input(id="firstName" type="text" name="firstName" placeholder="firstName" autocomplete="off")
          input(id="lastName" type="text" name="lastName" placeholder="lastName" autocomplete="off")
          input(id="username" type="text" name="username" placeholder="username" autocomplete="off")
          input(id="email" type="email" name="email" placeholder="email" autocomplete="off")
          input(id="password" type="password" name="password" placeholder="password" autocomplete="off")
          input(id="nin" type="number" name="nin" placeholder="national indentification number" autocomplete="off")

          //- Register button
          input(id="submit" type="submit" name="submit" value="register")
        
        div(class="register")
          button(class="btn btn-register" id="login")='login'