@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+SC|Roboto');


body {
  background-color: #0b4437;
}

body > .grid {
  height: 100%;
}

.image {
  margin-top: -100px;
}

.ui.middle.grid .column {
  max-width: 450px;
}

.ui.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ui.raised.very.padded.container.segment.stacked {
  width: 50%;
}

.ui.raised.very.padded .column {
  width: 100%;
}

/* Flash Messages */
.flash {
  width: 70%;
  text-align: center;
  position: absolute;
  top: 5em;
  left: 16%;
}