@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+SC|Roboto');


body {
  background-color: #0b4437;
}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}